body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;

}

.content__input {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.content__input-box {
    border: 0;
  
    font-size: 20px;
    caret-color: white; 
}

.content__button {
    background-color: white;
    color: black;
    border: 0;
    width: 35px;
    height: 25px;
    
}

*:focus {
    outline: none;
}









